alias ls='ls --color --group-directories-first'
alias la='ls -A'
alias ll='ls -Ahl'
alias pbcopy='xsel --clipboard --input'
alias pbpaste='xsel --clipboard --output'
alias c='cd;clear'
alias vi='vim'
alias mkdir='mkdir -p -v'
alias pep8='pycodestyle'
alias h='cd $HOME'
alias prp='pipenv run python'
alias pr='pipenv run'
alias ff='firefox'
alias dots='cd ~/.dotfiles'
